<h1>JReed's BLOG!!</h1>

<p>These are the blogs:</p>

<ul>
	<!-- <li><a href="/blog">Blog your problems</a></li> -->
	<% @posts.each_with_index do |post, index| %>
	<li><%= link_to post.title, "/blog/#{index}" %></li>
 	<!-- <li><a href="/blog/<%# index %>"><%# post %></a></li> -->
<% end %>
</ul>