<h1>Blog your thoughts</h1>


<h2><%= @post.title %></h2>


<p>At your own Risk:</p>

<ol>
<% @post.comments.each do |comment| %>
<li><%= comment %></li>
<% end %>
<li>
	<%= form_tag "#", method: :patch do %>
	<input type="text" name="Comment" placeholder="Post Comment" />
	<button type="submit">Post</button>
	<% end %>
</li>
</ol>


